body{
    font-family: Arial, sans-serif;
    background-color: aqua;
    padding: 20px;
}
.container{
    width: 80%;
    margin: auto;
    padding: 20%;
}
img{
    max-width: 100%;
    height: auto;
    display:block;
}
label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
button{
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: aqua;
    cursor: pointer;
}
input, textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
